// Navigation code here

.navheader{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
    background: @wild-sand;
    padding: 2% 10% 2% 10%;
    border: @sea-shell 1px;
   
   h1{   
       font-size: 3rem;
       margin: auto;
   }
   
   nav{
       padding-top: 1%;
   
       a{
          text-decoration: none;
          color: black;
          font-size: 1.7rem;
          margin: 0 5px;
       
       }
   }
   

   
   }